nav {
    background-color: #007bff;
    color: white;
    padding: 1px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0; /* Asegúrate de que ocupe todo el ancho */
    right: 0; /* Asegúrate de que ocupe todo el ancho */
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}


nav {
    font-size: 2rem; /* O cualquier tamaño que prefieras */
}

nav .nav-link {
    padding: 1px 2px; /* Aumentar el padding */
}


.btn {
--primary-color: #16a291;
--secondary-color: #fff;
--third-color : #6d6f6f;
--hover-color: #111;
--arrow-width: 10px;
--arrow-stroke: 2px;
box-sizing: border-box;
border: 0;
border-radius: 20px;
color: var(--secondary-color);
padding: 0.6em 1.8em;
background: linear-gradient(to right, var(--primary-color),var(--third-color));
display: flex;
transition: 0.2s background;
align-items: center;
gap: 0.6em;
font-weight: bold;
}

#calendar {
    width: 100%; /* O ajusta a un porcentaje o píxeles específicos */
    max-width: 1200px; /* Asegúrate de que este valor sea adecuado para tu diseño */
    height: auto; /* Permitir que el calendario ajuste su altura automáticamente */
    margin: 0 auto; /* Centrar el calendario en la página */
}